<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{$title}</title>
</head>
<body>
  <h1>{$title}</h1>
  <form action="/about/create" method="post">
    <div>
      <label for="name">姓名</label>
      <input type="text" name="name" id="name">
    </div>
    <div>
      <label for="height">身高</label>
      <input type="text" name="height" id="height">
    </div>
    <div>
      <label for="weight">體重</label>
      <input type="text" name="weight" id="weight">
    </div>
    <input type="submit" value="送出">
  </form>
</body>
</html>